<!-- Seccion Proyectos grupo de tarjetas-->
<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
      <h1 style="text-align: center;">Proyectos</h1>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="card" *ngFor="let proyectos of proyectosList">
      <img [src]="proyectos.foto" class="card-img-top" alt="Bonetti" style="border-radius: 50%;">
      <div class="card-body">
        <h5 class="card-title">{{proyectos.nombre}}</h5>
        <p class="card-text" style="text-align: justify;">...</p>
      </div>
    </div>
  </div>
