<div class="container-fluid" style="width: 50em" *ngIf="expe">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="container-fluid">
                    <div class="form-group">
                        <label for="nombreEx" class="form-label"> Nombre del Lugar</label>
                        <input type="text" class="form-control" id="nombreEx" name="nombreEx" [(ngModel)]="expe.nombreEx"
                            required>
                    </div>
                    
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form4Example3">Descripcion</label>
                            <textarea class="form-control" id="form4Example3" rows="4" name="descripcionEx" [(ngModel)]="expe.descripcionEx" required></textarea>
                            
                        </div>
                        <div class="form-group">
                            <label for="fotoEx" class="form-label"> Imagen </label>
                            <input type="text" class="form-control" id="fotoEx" name="fotoEx" [(ngModel)]="expe.fotoEx" required>
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-light btn-rounded">Actualizar Experiencia</button>
                        </div>
                    </div>
                
                
            </form>
        </div>
    </div>

