<!-- Seccion Galeria con Carousel modificado-->

<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
      <h1 style="text-align: center;">Galeria</h1>
    </div>
  </div>
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://lh3.googleusercontent.com/7BRsfzhMW4u2ILnk_cYQzRh8kPPUW7tT8HPLECXz3G9P6YTa-3uT6vGrvP3izZLJJJPk4KMNPnZOD-FMs113kz6JO6KLC7sIvGD7rUMLEaeyNF37QayBJ8b-5Bl2i-GcR9KPAi4r8pA=w2400" class="d-block w-50 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/yWug47MtHmOecCgQSQfZaPhxVNXnfI3JJFxZ9Q8ukkctVkX6x-doAorYVRHS-lBrwWrAzdlTiOMFLK_vIE-ymwW4NeCGMaQZoIqfZ7ZupMDddA7_vbCxTxAtQM6mUbsmJWTGlwej8QM=w2400" class="d-block w-50 mx-auto"alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/aTBO2pEBZQmRxcfQGeiLnjWNsvZq0GoN3c7t6fDOGvDAzweO-kM3ZAWyq1wZ1jWiiel53RKNecBZzkcqe8V-uuHQMsUQfEei5jE8oLBplZjqseWfvbyw5-vx7aEzmA5CqJtIKwTGhEQ=w2400" class="d-block w-50 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/gjjcX3Zy4U1N4kc0qsdrbtBuvm5JzS-ncn7yDjN7TevgUQw-sLZuBz1CUlaF0QyKqmfqUTgeAPVRFcGAd__lEuDUlAj7bXyIK6zsdzAeTUume8qx0sXfuokL04B9ZAhjGcxiz-1X0W8=w2400" class="d-block w-50 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/Nk6yOj0qqNva85aU3ZZHwP0A2dexSQbJdCaWqwxSyt_78JMsiDKuKjrFTmU09-ihag6pQc5pTcajlxv72MY8rgRxq4ojpu-p6rgcPcaVHFz_NKX8TN6dXsqyu2PLYLNfSU-aptXQnWI=w2400" class="d-block w-50 mx-auto"alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/OZ5b2GOZc9EuFujBJBJHHqnz9seYZfdXJ-u853BbyuW_eAU-vFawvIPngc4uvpKc-775BFe3KIp9vzHh3uyaVOvv90ufLW4cJMIuIAOvp853yPa9xZoBIWs4_ax90u9tia4aBWJqKkg=w2400" class="d-block w-50 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/2kJSPXNeyllqX2x2zFt9Za-hxJhkeRDRRvhqKIrxGQq-cZ16vMAH5tdgQLp3ylS0_C-IW30KHKcLD2GXGv6EaAHDQ9RTEmAUpOT3GilCxhd5BqmaxgWGlVmVwIVATQ8AN1ErrjIKOs4=w2400" class="d-block w-50 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/6iY6Z3JN-D3yLw8HRWOXV5fLqyGcyZ9JKwBmuGswpJtXtuwNdCneNWID1qyljhS6g31n6MM4JtbWIvp0z-K3wUHy0Ino88FYFyDPsxK2bmzOBkcHb7m_pJ9fWFDcZ4nwctaTifQ_6RY=w2400" class="d-block w-50 mx-auto" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
