#barra {
    background-color: #033E72;
    margin: .2em;
    border-radius: .5em;
}

.card{
    border-radius: .5em;
    align-items:flex-end;
    justify-content: center;
    
}
#plus{
    position: relative;
}

.card-img-top{
    border-radius: 50%;
    width: 10em;
}
.row{
    flex-wrap: wrap;
    margin: .2em;
    border-radius: .5em;
}
.container-fluid{
    width: auto;
}

