<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
        <h1 style="text-align: center;">Hard & Soft Skills</h1>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3">
    <div class="card">

        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#033E72'" [innerStrokeColor]="'#808080'" [animation]="true" [animationDuration]="300">
        </circle-progress>

        <div class="card-body">
            <h5 class="card-title">Hard Skills</h5>
            <p class="card-text" style="text-align: justify;"></p>
        </div>
    </div>

    <div class="card">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#033E72'" [innerStrokeColor]="'#808080'" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <div class="card-body">
            <h5 class="card-title">Soft Skills</h5>
            <p class="card-text" style="text-align: justify;"></p>
        </div>
    </div>
    <div class="card">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#033E72'" [innerStrokeColor]="'#808080'" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <div class="card-body">
            <h5 class="card-title">Soft Skills</h5>
            <p class="card-text" style="text-align: justify;"></p>
        </div>
    </div>
</div>