<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
        <h1 style="text-align: center;">Hard & Soft Skills</h1>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-4">
    <div class="card" *ngFor="let habilidades of habilidadesList">
       
      <!--  <div class="card-body">
            <circle-progress [percent]="{{habilidades.porcentaje}}" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#033E72'" [innerStrokeColor]="'#808080'" [animation]="true" [animationDuration]="300">
        </circle-progress>
            <h3 class="card-title">{{habilidades.nombre}}</h3>
            <p class="card-text" style="text-align: justify;"></p>
        </div>
    </div>!-->

    <div class="card-body">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        <h3 class="card-title">{{habilidades.nombre}}</h3>
        <p class="card-text" style="text-align: justify;"></p>
    </div>
</div>

</div>