#barra {
    background-color: #033E72;
    margin: .2em;
    border-radius: .5em;
}

.row {
    flex-wrap: wrap;
    margin: .2em;
    flex-direction: row;
   
    border-radius: .5em;
}
.card{
    border-radius: .5em;
    align-items: center;
}
#progress{
    flex-direction: row;
}


