<!-- Seccion Especializaciones grupo de tarjetas-->

<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
      <h5 style="text-align: center;">Especializaciones</h5>
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 ">
    <div class="card" *ngFor="let especializaciones of especializacionesList">
      <img [src]="especializaciones.foto" class="card-img-top" alt="Bonetti">
      <div class="card-body">
        <h5 class="card-title">{{especializaciones.nombre}}</h5>
        <p class="card-text" style="text-align: justify;">...</p>
      </div>
    </div>
  </div> 
  
