<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
        <h1>Acerca de mi</h1>
    </div>
</div>

<div class="card xl-1">
    <div class="row g-0">
        <div class="col-sm-2">
            
                <img class="img-fluid" src="{{miPortfolio.fotoperfil}}" id="fotoperfil" alt="imagen perfil">
            
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h2 class="card-title">{{miPortfolio.nombre}}</h2>
                <p>{{miPortfolio.titulo.licenciatura}}</p>
                <p>{{miPortfolio.titulo.tiro}}</p>
                <p>{{miPortfolio.titulo.moto}}</p>
                <p>{{miPortfolio.titulo.desarrollador}}</p>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.
                    This content is a little bit longer.</p>

            </div>
        </div>
    </div>
</div>