#barra {
    background-color: #033E72;
    margin: .2em;
    border-radius: .5em;
}

.card{
    border-radius: .5em;
    /*align-items:flex-end;*/
    justify-content:space-between
    
    
    
}

#editbuttons{
    background-color: #033E72;
    margin: 0;
    border-color: #033E72;
}
.btn-group{
    background-color: #033E72
}
#cardtitle{
    background-color: #033E72;
    
}
#plus{
    position: relative;
}

.card-img-top{
    border-radius: 50%;
    width: 10em;
}
.row{
    flex-wrap: wrap;
    margin: .2em;
    border-radius: .5em;
}
.container-fluid{
    width: auto;
    
}

#fotoperfil{
    border-radius: 50%;
    width: 10em;
    position:relative;
    /*margin-top: 2.5em;*/
    margin-left: 2em;
    
}
