<div class="px-3 py-2 text-white" id="barra">
    <div class="container-fluid">
        <h5 style="text-align: center;">Acerca de mi</h5>
    </div>
</div>

<div class="card xl-1">
    <div class="row g-0">
        <div class="col-sm-2">
            
                <img class="img-fluid" src="../../../assets/imagenes/fotoperfil.jpg" id="fotoperfil" alt="imagen perfil">
            
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{miPortfolio.nombre}}</h5>
                <h6>{{miPortfolio.titulo.licenciatura}}</h6>
                <h6>{{miPortfolio.titulo.tiro}}</h6>
                <h6>{{miPortfolio.titulo.moto}}</h6>
                <h6>{{miPortfolio.titulo.desarrollador}}</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.
                    This content is a little bit longer.</p>

            </div>
        </div>
    </div>
</div>